<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hst.board.dao.BoardDao">
  		
  <select id="selectBoardList" resultType="com.hst.board.vo.BoardVo">
    SELECT
      board_id AS boardId,
      title AS title,
      content AS content,
      insert_date AS insertDate
    FROM t_board
    WHERE title like CONCAT('%',#{keyword},'%')
    ORDER BY boardId DESC
    LIMIT #{offset}, #{pageCnt}
  </select>

  <select id="selectBoardsCnt" resultType="int">
    SELECT
      count(board_id) AS cnt
    FROM t_board
    WHERE title like CONCAT('%',#{keyword},'%')
  </select>

  <insert id="addBoard" parameterType="Map">
    INSERT INTO t_board (title, content, insert_date)
    VALUES (#{title}, #{content}, now())
  </insert>

  <select id="selectOne" parameterType="Long" resultType="com.hst.board.vo.BoardVo">
    SELECT
      board_id AS boardId,
      title AS title,
      content AS content,
      insert_date AS insertDate
    FROM t_board
    WHERE board_id = #{boardId}
  </select>

  <delete id="delBoard" parameterType="Map">
    DELETE FROM t_board
    WHERE board_id = #{boardId}
  </delete>

  <update id="modBoard" parameterType="Map">
    UPDATE t_board SET
    title = #{title},
    content = #{content}
    WHERE board_id = #{boardId}
  </update>

  <!-- 댓글 -->
  <select id="selectReplyList" resultType="com.hst.board.vo.ReplyVo">
    SELECT
      reply_id AS replyId,
      board_id AS boardId,
      content AS content,
      insert_date AS insertDate
    FROM t_reply
    WHERE board_id = #{boardId}
    ORDER BY replyId DESC
  </select>

  <insert id="addReply" parameterType="Map">
    INSERT INTO t_reply (board_id, content, insert_date)
    VALUES (#{board_id}, #{content}, now())
  </insert>

  <insert id="modReply" parameterType="Map">
    UPDATE t_reply SET content = #{content}
    WHERE reply_id = #{reply_id}
  </insert>

  <delete id="delReply" parameterType="Map">
    DELETE FROM t_reply
    WHERE reply_id = #{replyId}
  </delete>

</mapper>